.banner{
    display: flex;
    width: 100%;
    border-radius: 10%;
}
.banner img{
    padding-top: 3%;
    width: 100%;
    height: 100%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-6{
    display: flex;
    justify-content: center;
}
#linetxt{
    height: 90%;
    border-left:5px solid black;
    
}
.bannerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bannerTitle h1{
    font-family: "Titles";
    font-size: 5em;
;
}
.bannerTitle p{
    font-weight: 600;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    font-family: "Text";
    font-size: 1.3em;
    text-align: justify;
}

.MVV{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    transition: 0.3s;
    text-align: justify;
}
.MVV h1{
    font-size: 3em;
    font-weight: 700;
    color: #000;
    margin-bottom: 3%;
    text-align: center;
}
.MVV p{ 
    font-family: "Text";
    font-size: 1.3em;
    font-weight: 600;
    text-align: justify;
}
.MVV img{
    display: flex;
    align-items: center;
    object-fit: contain;  
    width: 70%;
    height: 70%;
    border-radius:50%;
    padding-left: 10%;
}
.MVV .row{
    padding-bottom: 5%;
}