body{   
    font-family: 'Servicios-Text';

}
.container{
    width: 100% !important;
    margin: 0% !important;
}
.col-lg-6{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; /* Asegúrate de que las columnas también tengan un ancho del 100% */
}
iframe {
    width: 100%; /* Ajusta el iframe al 100% del contenedor */
    height: 600px;
    margin: auto;
    border-radius: 40px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-top: 50px;
}
form {
    width: 100%; /* Ajusta al 100% del contenedor */
    padding: 20px;
    border-radius: 40px; /* Bordes redondeados */
    background-color: #f8f9fa; /* Fondo claro */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}

form label {
    width: 100%; /* Asegúrate de que los labels también tengan un ancho del 100% */
}   

form option {
    font-size: 2vh; /* Tamaño de letra */
    margin: 10px 0; /* Margen superior e inferior */
    font-family: 'Servicios-Text';
    font-weight: 900;
}
form textarea {
    width: 100%; /* Ajusta al 100% del contenedor */
    height: 100px; /* Altura */
    margin: 10px 0; /* Margen superior e inferior */
    padding: 10px; /* Relleno */
    border-radius: 20px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde */
    font-size: 2vh; /* Tamaño de letra */
    font-family: 'Servicios-Text';
    font-weight: lighter;
}
form button {
    width: 30%; /* Ajusta al 100% del contenedor */
    padding: 10px; /* Relleno */
    border-radius: 20px; /* Bordes redondeados */
    border: none; /* Sin borde */
    background-color: #656D4A; /* Fondo azul */
    color: white; /* Texto blanco */
    font-size: 2vh; /* Tamaño de letra */
    letter-spacing: 2px;
    font-family: 'Servicios-Text';
    font-weight: 900;
    cursor: pointer; /* Cursor de puntero */
}





