@font-face {
    font-family: "Nav-Banner";
    font-weight: bold;
    src:url(/Website/fonts/LeagueSpartan-Regular.woff);
    font-display: swap;
  }
  @font-face {
    font-family: 'Text';
    src: url(/Website/fonts/Montserrat-VariableFont_wght.woff);
    font-display: swap;
  }
  @font-face {
    font-family: "Titles";
    src: url(/Website/fonts/LeagueSpartan-Regular.woff);
    font-display: swap;
    
  }


body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.contact-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Para que se acomode bien en pantallas pequeñas */
    gap: 20px;
}

.form-container, .map-container {
    flex: 1; /* Ambas se expanden para ocupar el mismo espacio */
    min-width: 400px; /* Evita que se reduzcan demasiado en pantallas pequeñas */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input, select, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.map-container iframe {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
