@font-face {
        font-family: "Nav-Banner";
        font-weight: bolder;
        src:url(/Habital/Website/fonts/MYRIADPRO-REGULAR.woff);
}
@font-face {
        font-family: 'Text';
        src: url(/Habital/Website/fonts/GeneralSans-Light.woff);
}
@font-face {
        font-family: "Titles";
        src: url(/Habital/Website/fonts/NeueMontreal-Bold.woff);
}
body{
        font-family: 'Servicios-Text';
}
h1,h2,h3{
        font-family: "Titles";

}