@font-face {
        font-family: "Nav-Banner";
        font-weight: bold;
        src:url(/Website/fonts/Lato-Regular.woff);
}
@font-face {
        font-family: 'Text';
        src: url(/Website/fonts/Lato-Regular.woff);
}
@font-face {
        font-family: "Titles";
        src: url(/Website/fonts/PlayfairDisplay-VariableFont_wght.woff);
}
body{
        font-family: 'Servicios-Text';
}
h1,h2,h3{
        font-family: "Titles";

}