@font-face {
    font-family: "Nav-Banner";
    font-weight: bold;
    src:url(/Website/fonts/LeagueSpartan-Regular.woff);
    font-display: swap;
  }
  @font-face {
    font-family: 'Text';
    src: url(/Website/fonts/Montserrat-VariableFont_wght.woff);
    font-display: swap;
  }
  @font-face {
    font-family: "Titles";
    src: url(/Website/fonts/LeagueSpartan-Regular.woff);
    font-display: swap;
    
  }

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Banner-Text";
}

ul {
    padding-left: 0 !important;
    list-style: none;
}

.dividerfooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #0f3631;
    padding: 20px 10px;
}

.sidemap, .Contacto, .image {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.sidemap h1, .Contacto h1 {
    font-family: 'Titles';
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.sidemap h1::after, .Contacto h1::after {
    content: "";
    width: 100px;
    height: 3px;
    background-color: #7FBF9F;
    border-radius: 5px;
    margin: auto;
}

.sidemap ul li a, .Contacto li a {
    font-family: "Text";
    font-size: 1.5em;
    font-weight: 800;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    display: block;
    margin: 5px 0;
}

.sidemap ul li a:hover, .Contacto li a:hover {
    color: white;
    padding-left: 5px;
}

.sidemap {
    display: block;
}

.image img {
    max-width: 300px;
    height: auto;
    margin: 10px 0;
}

.Contacto ul {
    padding: 0;
    display: flex;
    justify-content: center;
}

.Contacto li a {
    font-size: 3em;
    margin: 0 10px;
}

.Contacto li a:hover {
    color: white;
}

/* Media Queries */
@media (max-width: 768px) {
    .dividerfooter {
        flex-direction: column;
        align-items: flex-start;
    }

    .sidemap, .Contacto, .image {
        width: 100%;
        margin-bottom: 20px;
    }

    .sidemap h1, .Contacto h1 {
        font-size: 1.6em;
    }

    .sidemap ul li a, .Contacto li a {
        font-size: 1.2em;
    }

    .image img {
        width: 120px;
        margin: 15px auto;
    }
}

@media (max-width: 480px) {
    

    .sidemap ul li a, .Contacto li a {
        font-size: 1.2em;
    }

    .image  {
        margin:0 auto;
        width: 100%;
        height: auto;
    }

    .image img {
        width: 100%;
        height: auto;
    }
}