/*Importamos fuentes*/
@keyframes show {
        from {
          opacity: 0;
          scale: 25%;
        }
        to {
          opacity: 1;
          scale: 100%;
        }
        
}
/*img,p,h1,h2,h3,h4,h5,h6{
        view-timeline-name: --image ;
        view-timeline-axis: block;

        animation-timeline:--image ;
        animation-name: show;

        animation-range: entry 25% cover 30%;
        animation-fill-mode: both;

}
*/

@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}



.navbar-brand{
        justify-content: space-around !important;
}
.Navb{
        background-color: #333D29 !important;
        font-size: 2dvh;
        font-family: "Nav-Banner";
        letter-spacing: 4px;
}
#navTog{
        display: flex;
        align-items: center;
}
.Banner{
        position: relative;
        overflow: hidden;
}
.Banner img{
        object-fit: cover;
        filter: blur(4px);
        -webkit-filter: blur(4px);
        width: 100%;
        height: 100dvh;
        
}
.Banner h1 {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Titles";
    font-size: 10vh;
    color: #F5F5F5;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    letter-spacing: 5px;
    text-align: center;
}

.Banner span {
    position: absolute;
    top: calc(50% + 14vh); /* Ajusta este valor según el tamaño de tu h1 */
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Ajusta el ancho de la línea según prefieras */
    height: 2px; /* Ajusta el grosor de la línea */
    background-color: #F5F5F5; /* Color de la línea */
    display: block;
}

.Banner p {
    position: absolute;
    top: calc(50% + 16vh); 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #F5F5F5; 
    font-family: "Servicios-Text"; 
    font-size: 2.5vh;
}
.row{
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0; 
    width: 30vh;
    height: 30vh;
    border: none;
}
.containerT{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}
.TitleS{
    font-family: "Titles";
    font-size: 15vh;
    margin: 5vh 0;
    text-align: center;
}
.col-lg-3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}
.card h1{
    font-family: "servicios-Text";
    font-size: 3vh;
    text-align: center;
    margin: 20px;
    font-weight: 600;
}

.card img{
    height: 100%;
    width: 70%;
    object-fit: cover;
    border-radius: 20px;
    margin: 0;

}

#us img{

        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0;
}

#us p{
        font-family: "Servicios-Text";
        font-size: 1.5em;
        text-align: justify;
        font-weight: 600;
        margin: 20px 0;;
}
#us > .col-lg-6{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
}	
#whyusText{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        transform: translateY(0dvh);
        text-align: left;
}
#whyusText h1{ 
       display: flex;
       font-family: "Titles";
       font-size: 9em;
     
}
#whyusText p{
        display: flex;
        justify-items: flex-start;
        font-family: "Servicios-Text";
        font-size: 1.3em;
        padding-top: 5dvh;
        text-align: justify;
}
.buttonH{
        display: flex;
        font-family: "Servicios-Text";
        font-weight: bolder;
        font-size: 1.5em;
        text-align: center;
        background-color: #333D29;
        color: #CCCCCC;
        border-radius: 100px;
        padding: 10px 20px;
        cursor: pointer;
        transition:ease-in-out 0.3s;
}


@media screen and (min-width: 768px){
}