/*Importamos fuentes*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Banner-Text";
    background-color: #F5F5F5;
}

.Banner{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 90dvh;
}
.Banner img{
    object-fit: cover;
    filter: blur(4px);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
        
}

.Banner h1 {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Titles";
    font-size: 5vw;
    color: #F5F5F5;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    letter-spacing: 5px;
    text-align: center;
    z-index: 2;
    transition:  color 0.5s ease; 
}


.Nosotros{
    width: 100%;
}
.Nosotros h1{
    font-family: "Titles";
    font-size: 7vh;
    text-align: center;
    margin-top: 5vh;
    margin-top: 50px;
}
.Nosotros h1::after{
    content: "";
    width: 400px;
    height: 5px;
    background-color: #333D29;
    border-radius: 10px;
    display: block;
    margin: auto;
}
.divider{
    width: 98%;
    padding: 0px 60px;
    margin: 60px auto;
    align-items: center;
    background-color: #656D4A;
    border-radius: 100px;

}
.contenido{
    width: 60%;
    float: left;
    text-align: left;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.contenido p{
    font-family: "Text";
    font-size: 1.6em;
    line-height: 1.5em;
    font-weight: 500;
    color: #F5F5F5;
    margin-top: 20px;
    width: 70%;
    text-align: justify;
}
.imagenUs{
    width: 40%;
    float: right;
    padding: 0px 20px;
}
.imagenUs img{
    max-width: 100%;
    border-radius: 50px;
    border-color: #656D4A;
}
.button{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.button button{
    color: white;
    background-color:#333D29  ;
    padding: 10px 20px;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 2em;
    font-family: "Text";
    border-radius: 50px;
}
.button button:hover{
    background-color: #CCCCCC;
    color: black;
    transition: 0.5s;
}
.services{
    width: 100%;
}
.services h1{
    font-family: "Titles";
    font-size: 7vh;
    text-align: center;
    margin-top: 5vh;
    margin-top: 50px;
}
.services h1::after{
    content: "";
    width: 400px;
    height: 5px;
    background-color: #333D29;
    border-radius: 10px;
    display: block;
    margin: auto;
}
.divider2{

    padding: 0px 10px;
    margin: 60px auto;
    display: flex;
    align-items: center;

}
.servicios{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.servicio{
    width: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333D29;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: 0.5s;
    height: 400px;
    border-radius: 50px;
}
.servicio h3{
   color: #F5F5F5;
}
.servicio li{
    list-style: disc;
    color: #F5F5F5;
    font-family: "Text";
    font-size: 1.4em;
    margin-top: 10px;
    font-weight: 500;
}
.servicio img{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.whyUs{
    width: 100%;
}
.whyUs h1{
    font-family: "Titles";
    font-size: 7vh;
    text-align: left;
    margin-top: 5vh;
    padding-left: 50px;
    float: left;
    color: black;
}
.divider3{
    padding: 0px 10px;
    margin: 60px auto;
    display: flex;
    align-items: center;
}
.Text{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.Text p{
    font-family: "Text";
    font-size: 1.4em;
    line-height: 1.5em;
    font-weight: 600;
    color: black;
    margin-top: 20px;
    width: 90%;
    text-align: justify;
}
.imag{
    width: 40%;
    float: right;
    padding: 0px 20px;
}
.imag img{
    max-width: 100%;
    border-color: #656D4A;
}



/* Media Queries */


@media (max-width: 576px) {
    .Banner h1 {
        font-size: 6vh;
    }

    .Nosotros h1, .services h1, .whyUs h1 {
        font-size: 4vh;
    }

    .contenido p, .Text p {
        font-size: 1.2em;
    }

    .button button {
        font-size: 1.2em;
        padding: 10px 20px;
        margin: 10px 0;
    }
}
