/* Grid general */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* Ajusta para mostrar 3 o 4 columnas */
    gap: 50px; /* Espacio entre cada card */
    padding: 20px;

}

/* Estilos de las cards */
.project {
    display: flex;
    flex-direction: column; /* Alinea el contenido verticalmente */
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
    min-height: 300px; /* Altura mínima de la card */
}

.project:hover {
    transform: translateY(-5px); /* Efecto hover para resaltar la card */
}

/* Estilos de la imagen */
.project img {
    width: 100%;
    height:500px;
    display: block;
    object-fit: cover; /* Ajusta la imagen al tamaño del contenedor */
}

/* Estilos del título */
.project h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 15px 0 10px 0;
    text-align: center;
    letter-spacing: 2px;
    color: #333; /* Color del texto del título */
}

/* Estilos del botón */
.project button {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #fff;
    border: 2px solid #333; /* Borde del botón */
    color: #333; /* Color del texto del botón */
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.project button:hover {
    background-color: #333; /* Color de fondo al pasar el ratón por encima */
    color: #fff; /* Color del texto al pasar el ratón por encima */
}

/* Texto general dentro de la card */
.project p {
    font-size: 1rem;
    color: #333;
    margin: 0 10px;
    text-align: center;
}


/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr); /* Cambia a 2 columnas en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .portfolio-grid {
        grid-template-columns: 1fr; /* Cambia a 1 columna en pantallas muy pequeñas */
    }
}
