@font-face {
    font-family: "Nav-Banner";
    font-weight: bold;
    src:url(/Website/fonts/LeagueSpartan-Regular.woff);
    font-display: swap;
  }
  @font-face {
    font-family: 'Text';
    src: url(/Website/fonts/Montserrat-VariableFont_wght.woff);
    font-display: swap;
  }
  @font-face {
    font-family: "Titles";
    src: url(/Website/fonts/LeagueSpartan-Regular.woff);
    font-display: swap;
    
  }
/* Estilos generales */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
#info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

/* Carrusel de imágenes */
#project-carousel {
    margin-right: 20px;
    max-width: 600px; /* Ancho máximo del carrusel */
    height: 600px; /* Altura fija del carrusel */
    overflow: hidden; /* Ocultar cualquier contenido que se desborde */
    position: relative; /* Para posicionar los controles del carrusel */
}

.carousel-item {
    height: 100%; /* Asegura que los elementos del carrusel llenen el contenedor */
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin distorsionarse */
    border-radius: 10px; /* Bordes redondeados para la imagen */
}

/* Estilos de la columna de información */
.project-info {
    max-width: 600px;
    text-align: justify;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Estilos de los elementos de información */
#project-title {
    font-family: 'Titles';
    max-width: 100%;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

#cliente, #fecha, #ubicacion, #superficie, #descripcion {
    font-family: 'Text';
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: 700;
    color: black;
}

/* Estilo de los botones */
.btn-primary {
    font-family: 'Text';
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.3em;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    width: fit-content;
    align-self: justify;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .project-container {
        flex-direction: column;
        align-items: center;
    }

    #project-carousel, .project-info {
        margin-right: 0;
        width: 100%;
        height: auto;
    }
    #project-carousel, .carousel-item img {
        width: 100%;
        height: auto;
    }

    #project-title {
        font-size: 2em;
    }

    #cliente, #fecha, #ubicacion, #superficie, #descripcion {
        font-size: 1em;
    }
}