h1{
    font-family: "Titles";
}	
p{
    font-family: "Text";
    font-size: 1.2em;
    font-weight: 600;
}

.disPro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    transition: 0.3s;
    text-align: justify;
}
.disPro h1{
    font-size: 5em;
    font-weight: 700;
    color: #000;
    margin-bottom: 3%;
}
.disPro h3{
    font-size: 2em;
    font-weight: 700;
    color: #000;
    margin-bottom: 3%;
    text-align: center;
}

.imgDis{
    display: flex;
    align-items: center;
    object-fit: contain;  
    width: 50%;
    height: 50%;
    border-radius:50%;
}

.disIng{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    transition: 0.3s;
    background-color: #656D4A;
    text-align: justify;
    font-weight: 700;
    margin-bottom: 3%;
}
.disIng h1{
    font-size: 5em;
    font-weight: 700;
    margin-bottom: 3%;
}
.disIng h3{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 3%;
    text-align: center;
}

.disCon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    transition: 0.3s;
    text-align: justify;
}
.disCon h1{
    font-size: 5em;
    font-weight: 700;
    color: #000;
    margin-bottom: 3%;
}

/* Media Queries */
@media (max-width: 768px) {
    .disPro{
        display: flex;
        justify-content: center;
        margin: auto;
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
        
    }
    .disPro h1{
        text-align: center;
        font-size: 4em;
    }
    .disPro h3{
        text-align: center;
        font-size: 2em;
    }
    .disPro p{
        font-size: 1em;
    }
    .disIng{
        display: flex;
        justify-content: center;
        margin: auto;
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
        
    }
    .disIng h1{
        text-align: center;
        font-size: 4em;
    }
    .disIng h3{
        text-align: center;
        font-size: 2em;
    }
    .disIng p{
        font-size: 1em;
    }

    .disCon{
        display: flex;
        justify-content: center;
        margin: auto;
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
        
    }
    .disCon h1{
        text-align: center;
        font-size: 4em;
    }
    .disCon h3{
        text-align: center;
        font-size: 2em;
    }
    .disCon p{
        font-size: 1em;
    }
    
}