/*Importamos fuentes*/
@keyframes show {
        from {
          opacity: 0;
          scale: 25%;
        }
        to {
          opacity: 1;
          scale: 100%;
        }
        
}
/*img,p,h1,h2,h3,h4,h5,h6{
        view-timeline-name: --image ;
        view-timeline-axis: block;

        animation-timeline:--image ;
        animation-name: show;

        animation-range: entry 25% cover 30%;
        animation-fill-mode: both;

}
*/ 

@font-face {
        font-family: "Nav-Banner";
        font-weight: bolder;
        src:url(/Habital/Website/fonts/MYRIADPRO-REGULAR.woff);
}
@font-face {
        font-family: 'Servicios-Text';
        src: url(/Habital/Website/fonts/GeneralSans-Light.woff);
}
@font-face {
        font-family: "Titles";
        src: url(/Habital/Website/fonts/NeueMontreal-Bold.woff);
}
body{
        font-family: 'Servicios-Text';
}
h1,h2,h3{
        font-family: "Titles";

}

@media (max-width: 1024px) {
    h1 {
        font-size: 7em; /* Tamaño más pequeño para tablets y pantallas medianas */
    }

    p {
        font-size: 1.1em;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 5em; /* Tamaño para dispositivos móviles en orientación horizontal */
    }

    p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 3em; /* Tamaño para dispositivos móviles en orientación vertical */
    }

    p {
        font-size: 0.9em;
    }
}

@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
img{
        height: auto;
        max-width: 100%;
}

.Navb{
        background-color: #333D29;
        font-size: 2dvh;
        font-family: "Nav-Banner";
        letter-spacing: 4px;
}
#navTog{
        display: flex;
        align-items: center;
}
.Banner{
        position: relative;
        height: 100dvh;

}
.BannerImage{
        
        background-size: cover;
        background-position: center;
        filter: blur(4px);
        -webkit-filter: blur(4px);
        width: 100%;
        height: 100vh;
        
}
.BannerTitleAnimated{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        height: 90vh;
        width: 90vh;
        color: #FFFFFF;
}


.BannerTitleAnimated > div {
        height: 50%;
        overflow: hidden;
        position: absolute;
        width: 100%;
        }
.BannerTitleAnimated > div div {
        padding: 1vmin 0;
        position: absolute;
      }
.BannerTitleAnimated > div div span {
        display: block;
      }
.BannerTitleAnimated > div.text-top {
        display: flex;
        justify-content: center;
        border-bottom: 0.4vmin solid #FFFFFF;
        top: 0;
      }
.BannerTitleAnimated > div.text-top div {
        animation: showTopText 1s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
        bottom: 0;
        transform: translate(0, 100%);
        text-align: center;
        font-size: 8.1vmin;
        letter-spacing: 5px;
        font-family: "Titles";
        color: #FFFFFF;
      }
.BannerTitleAnimated > div.text-top div span:first-child {
        display: flex;
        justify-content: center;
        color: #FFFFFF;
      }
.BannerTitleAnimated > div.text-bottom {
        display: flex;
        justify-content: center;
        bottom: 0;
        
      }
.BannerTitleAnimated > div.text-bottom div {
        animation: showBottomText 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        top: 0;
        transform: translate(0, -100%);
        font-size: 2vmin;
        text-align: center;
        font-family: "Servicios-Text";
        color: #FFFFFF;
        letter-spacing: 2px;
;
      
}
#servicios{
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: center;
       
}
#servicios h1{
        font-family: "Servicios-Title";
        font-weight: bolder;
        font-size: 3em;
        letter-spacing: 5px;
        padding-top: 30px;
        color: #F5F5F5;
        
}

.row{
        display:grid;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-top: 20px ;
        
}

.h2-servicio {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Servicios-text';
    color:#F5F5F5 ;
}
.img-fluid{
        filter: drop-shadow(0 0 4px rgba(0,0,0,0.8));
        width: 65%;
}
.NosotrosTittle{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Titles";
        font-size: 3em;
}
#usText p{
        display: flex;
        justify-items: flex-start;
        font-family: "Servicios-Text";
        font-size: 1.1em;
        text-align: center;
        
}
#usImage{
        height: 50%;
        width: 70%;
}

#whyusText{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        transform: translateY(0dvh);
        text-align: left;
}
#whyusText h1{ 
       display: flex;
       font-family: "Titles";
       font-size: 9em;
     
}
#whyusText p{
        display: flex;
        justify-items: flex-start;
        font-family: "Servicios-Text";
        font-size: 1.3em;
        padding-top: 5dvh;
        text-align: justify;
}
#whyusText button{

        display: flex;
        font-family: "Servicios-Text";
        font-weight: bolder;
        font-size: 1.5em;
        padding-top: 5dvh;
        text-align: center;
        background-color: #333D29;
        color: #CCCCCC;
        border: 2px solid #000000;
        border-radius: 50px;
        padding: 10px 20px;
        cursor: pointer;
        transition:ease-in-out 0.3s;
}
.row.row-cols-sm-2 > div {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100%; /* Asegura que la columna tenga altura para permitir el centrado vertical */
}
footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #F5F5F5;
        font-family: "Servicios-Text";
        font-size: 1.5em;
        padding: 20px 0;
}